.App {
  margin: 2rem;
}

.Main {
  position: relative;
  top: 50px;
  margin: 2rem auto auto;
}

.WelcomeBar {
  padding: 10px 10px 10px;
}

.Footer {
  position: fixed;
  bottom: 0;
  margin: 2rem auto auto;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}
